.container {
    position: relative;
}

.play_animation {
    cursor: pointer;
    height: 30px;
    width: 30px;
    /*background-color: #ffffff;*/
    color: #1d1f20;
    font-size: 14px;
    z-index: 999;
    position: absolute;
    top: 162px;
    left: 42px;
}
.shadow .replay_button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    /*background-color: #ffffff;*/
    color: #ffffff;
    font-size: 14px;
    z-index: 999;
    position: absolute;
    top: 257px;
    left: 42px;
}
.shadow #controls__timeline,.shadow .replay_button{
    display: none;
}
.play_animation svg {
    width: 100%;
    height: 100%;
}

.play_animation:hover {
    /*background-color: #1d1f20;*/
    color: #16abd7;
}

.intro__title {
    z-index: 100;
}

#animate_logo {
    height: inherit;
    width: inherit;
    z-index: 950;
}

#animate_logo div {
    z-index: 950;
}

.shadow {
    background: #1d1f20 !important;
    z-index: 900;
    opacity: 0;
    position: absolute;
    top: -1.1em;
    right: 0;
    bottom: -1.3em;
    left: 0;
    background-size: contain;
    content: "";
}
.overflow_logo {
    background: #1d1f20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}
/*дебажные стили*/
.play, .stop, .time {
    cursor: pointer;
    height: 20px;
    width: 60px;
    background-color: #7dff5f;
    font-size: 14px;
    z-index: 999;
    position: relative;
    bottom: -50px;
}

.stop {
    background-color: #7dff5f;
}

.stop:hover {
    background-color: #ffa064;
}

.play {
    background-color: #ff6beb;
}

.play:hover {
    background-color: #0054ff;
}
